/* Common Styles ------------------------------------------ */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-rendering: optimizelegibility; }
body {
	font-family: Arial, sans-serif !important;
	font-size: 12px;
	line-height: 1;
	color: #333;
	background-color: transparent;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: Andarilho;
	src: url('../font/andarilho-font.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

a { 
	text-decoration: none;
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}
a:hover, a:focus { text-decoration: none; border: none; }
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0 10px 0px;
	font-weight: normal;
	line-height: 1.3;
	color: #F5FFF6;;
	font-family: "Segoe UI", Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
}

h1,
h2 {
	line-height: 1.4;
	letter-spacing: 3px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
	letter-spacing: 2px;
}

h4 {
	font-size: 18px;
	letter-spacing: 1px;
}

h5 {
	font-size: 14px;
	letter-spacing: 1px;
}

h6 {
	font-size: 12px;
}

p {
	color: #F5FFF6;
	font-size: 13px;
	line-height: 1.5;
}

img {
	max-width: 100%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

.icon-img {
	height: 145px;
	border-radius: 3px;
	text-align: center;
	padding-top: 45px;
	background: #112c49;
	border: 1px solid transparent;
	transition: background-color 1.5s ease;
    -webkit-transition: background-color 1.5s ease;
    -moz-transition: background-color 1.5s ease;
    -o-transition: background-color 1.5s ease;
    transition: background-color 1.5s ease;
}

.icon-img:hover{
	color: #18c4bf;
	background-color: transparent;
	border: 1px solid #abffa3;
}

.icon-contact {
	height: 170px;
	border-radius: 3px;
	color: #ff175e;
	text-align: center;
	padding-bottom: 20px;
	background: #051A26;
	padding-right: 20px;
}

#profile {
	height: auto;
	width: 200px;
	float: left;
	margin: 0 20px 18px 0;
	border-radius: 8px;
}

#desktop {
	height: auto;
	width: 345px;
	border-radius: 3px;
	float: right;
	margin: 10px 10px 20px 10px;
}

#home {
/*	background: url(../img/fab.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background: #051a26;
}

/* Colors ------------------------------------------ */
body.color-1::-moz-selection {background: #A7DBD8; color: #fff; }
body.color-1::selection {background: #A7DBD8; color: #fff; }
body.color-1 a{
	color: #ff175e;
	text-decoration: none;
}
body.color-1 div#top-nav #fixed-nav li a:hover {
	color: #abffa3;
}

body.color-1 .bg-color{
	background: #A7DBD8;
}
body.color-1 hr {
	border-bottom: 1px solid #cfcfcf;
}

body.color-1 #footer {
	color: #fff;
	text-align: center;
	font-size: 13px;
	padding: 20px 0 30px 0;
  background-color: #051A26;
}

body.color-2::selection {background: #3498db; color: #fff; }

body.color-3::selection {background: #9b59b6; color: #fff; }

body.color-4::selection {background: #34495e; color: #fff; }

body.color-5::selection {background: #f39c12; color: #fff; }

body.color-6::selection {background: #f1c40f; color: #fff; }

.pink {
	color: #18c4bf;
	font-weight: lighter;
}

.margins {
	margin: 5px;
}

.subtleicons {
	color: #7c7c7c;
}

.subtleicons:hover {
	color: #5F9EA0;
}

.highlighted-border {
	margin-bottom: 10px; 
	border-radius: 3px;
}

.current a {
	color: #18c4bf !important;
}

/* Navigation & Logo ------------------------------------------ */
#header{
	top:0px;
	width: 100%;
	background: #051a26;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);
	position: fixed;
	height: 55px;
	z-index: 100;
}

div#top-nav{
	margin-top: 20px;
}

div#top-nav ul {
	font-family: 'Lato',  sans-serif;
	margin-bottom: 0px;
	margin-top: 8px;
	text-align: center;
}

div#top-nav #fixed-nav li {
	font-family: 'Lato',  sans-serif;
	display: inline-block;
}

div#top-nav #fixed-nav li:first-child  {
	margin-left: 0;
}

div#top-nav #fixed-nav li a {
  color: #ffffff;
  font-size: 12px;
  padding: 5px 15px;
  text-transform: uppercase;
  outline: none !important;
  font-family: Arial, Helvetica, sans-serif;
}

div#top-nav #fixed-nav li a:hover {
	color: #21edce;
}

.subname {
	font-size: 1.5em;
	letter-spacing: 0;
	margin-bottom: 50px;
	margin-top: 30px;
	font-family: "Andale Mono", AndaleMono, monospace;
	color: #abffa3;
}

/* Slogan & Banners ------------------------------------------ */
.slogan{
	height: 100%;
	text-align: center;
	width: 100%;
	margin-top: 45px;
}
.slogan h1{
	color: #18c4bf;
	font-family: Andarilho, "Trebuchet MS", Arial, sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 15em;
	line-height: 1;
}
.hero{
	border-bottom: 1px solid #ff175e;
	width: 100%;
	margin-top: 50px;
	height: 150px;
}
.home .hero{
	margin-top: 0px;
}
/* Backgrounds ------------------------------------------ */
.bg-fixed {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Icon Blocks ------------------------------------------ */
.centered {
	text-align: center;
}

.i-block h3{ color: #ff175e;
	font-size: 1.3em;
	margin-top: 10px;
	margin-bottom: 14px;
	background-color: #ffffff;
	padding: 5px 0;
	border-radius: 2px;
}

/* Dividers ------------------------------------------ */

hr {
	border: 0;
	margin: 10px auto;
	max-width: 235px;
}
.hr {
	display: inline-block;
	width: 235px;
	max-width: none;
}

#resume-hr {
	margin-top: 25px;
}

/* Contact block ------------------------------------------ */
#contact .social a{
	margin-right: 10px;
	font-size: 30px;
	border: none;
	text-align: center;
}

.resume {
	border: 1px solid #18c4bf;
	padding: 10px 17px;
	border-radius: 4px;
}

.resume:hover {
	background-color: #18c4bf;
	color: #ffffff;
	border: 1px solid #18c4bf;
}

/* Section, Footer & Misc ------------------------------------------ */

#bottom-spacing {
	margin-bottom: 105px;
}

.about-text {
	font-size: 15px;
	color: #F5FFF6;
}

.content{
	padding-top: 50px;
	padding-bottom: 50px;
}

.section{
	background: #051a26;
}

.title{
	text-align: center;
	margin-bottom: 40px;
	font-family: Andarilho, "Trebuchet MS", Arial, sans-serif;
}
.title h2{
	font-weight: 700;
	font-size: 2.5em;
	margin: 0px;
	text-align: center;
	font-family: Andarilho, "Trebuchet MS", Arial, sans-serif;
}
.title p{
font-family: "Andale Mono", AndaleMono, monospace;
line-height: 1.6em;
font-size: 14px;
margin: 0px;
text-transform: uppercase;
color: #abffa3;
}

#footer {
	color: #fff;
	text-align: center;
	font-size: 13px;
	padding: 20px 0 20px 0;
	height: 30px;
}

#footer a{
	color: #fff;
	text-decoration: none;
}

#hide {
	display: none;
}

.normal-list {
	margin-top: 10px;
	text-align: center;
}

.normal-list li{
	list-style-type: none;
	margin: 15px auto;
	font-size: 13px;
	color: #E0FFE0;
}

.tile-section {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 3px;
	background-color: transparent;
	box-sizing: border-box;
	min-height: 312px;
	border: 1px solid #4D595D;
}

.tile-section p {
	color: #E0FFE0;
}

.block-section-title:hover, .block-section-title:active  {
	background-color: #ff175e;
	color: white;
}

#portfolio img:hover, #portfolio img:active, #approach img:hover, #approach img:active {
	opacity: 0.6;
}

#mobile-nav {
	display: none;
}

#message {
	margin-top: 30px;
}

/* Media Queries -------------------------------------------------------------- */
@media (max-width: 979px) {
	.slogan h1 {
		font-size: 11em; 
	}
}
@media (max-width: 767px) {
	.splash-info {
		border-radius: 3px;
		padding: 20px; 
		color: #F5FFF6;	
	}

	#bottom-spacing {
		margin-bottom: 0;
	}

	.top-small-space {
		padding-top: 15px;
		color: #F5FFF6;
		margin-top: 30px;
	}

	.slogan h1 {
		font-size: 6em;
	}

}
@media (max-width: 480px) { 
	.icon-contact {
		height: 80px;
	}

	#bottom-spacing {
		margin-bottom: 0;
	}

	#profile {
		height: auto;
		width: 155px;
	}

	#desktop {
		border-radius: 8px;
		margin: 10px 0 20px 0;
		width: 300px;
	}

	div#top-nav ul {
		float: none;
		margin-top: 20px;
	}

	div#top-nav #fixed-nav li a {
		color: #FFFFFF;
		text-transform: uppercase;
		font-size: 9px;
		border: none;
		padding: 5px 8px;
		margin-left: 3px;
	}

	#contact {
		text-align: center;
	}

	#contact .social a{
		margin-right: 10px;
		font-size: 30px;
		text-align: center;
	}

	.splash-info {
		margin-top: 5px;
		padding: 0 20px;
	}

	.subname {
		margin: 40px 0 80px 0;
		font-size: 15px;
	}

	.slogan h1{
		color: #18c4bf;
		font-family: Andarilho, "Trebuchet MS", Arial, sans-serif;
		font-weight: 700;
		text-align: center;
		font-size: 4em;
	}
}
