@import url(https://fonts.googleapis.com/css?family=Hind:400,700,300|Open+Sans);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 20px; }

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 748px;
  margin: 0 auto;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-right: 0; }

.push-right {
  float: right; }

.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 32.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0; }
  [class*='col-'] {
    width: auto;
    float: none;
    padding-left: 0;
    padding-right: 10px;
    padding-top: 20px; }
  [class*='mobile-col-'] {
    float: left;
    margin: 0 0 10px;
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 0; }
  .mobile-col-1-1 {
    width: 100%; }
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%; }
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%; }
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%; }
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%; }
  .mobile-col-1-5 {
    width: 20%; }
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%; }
  .mobile-col-1-7 {
    width: 14.28%; }
  .mobile-col-1-8 {
    width: 12.5%; }
  .mobile-col-1-9 {
    width: 11.1%; }
  .mobile-col-1-10 {
    width: 10%; }
  .mobile-col-1-11 {
    width: 9.09%; }
  .mobile-col-1-12 {
    width: 8.33%; }
  .mobile-col-11-12 {
    width: 91.66%; }
  .mobile-col-10-12 {
    width: 83.333%; }
  .mobile-col-9-12 {
    width: 75%; }
  .mobile-col-5-12 {
    width: 41.66%; }
  .mobile-col-7-12 {
    width: 58.33%; }
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }

@media handheld, only screen and (max-width: 400px) {
  .mobile-col-1-4 {
    width: 100%; } }

.dark {
  color: #002B43; }

.medium {
  color: #00CCFF; }

.light {
  color: #99E000; }

.hot {
  color: #FF1C5E; }

.alien {
  color: #B5B7B7; }

html {
  font-size: 14px; }

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: #262626; }

a {
  text-decoration: none; }
  a:visited {
    color: #002B43; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  font-weight: inherit; }

h1 {
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.875em; }

small, .font_small {
  font-size: 0.8em; }

quote {
  font-style: italic;
  font-size: 1.15em;
  color: #FF1C5E; }

.section-header {
  font-family: 'Hind', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  position: relative; }

.section {
  margin: 0;
  height: 100%; }

.container {
  max-width: 900px;
  display: block;
  margin: 0 auto;
  padding: 5em 0.5em 5em 0.5em; }

.accent {
  font-weight: bold; }

.divider-one {
  padding: 0;
  border: none;
  border-top: 1px dotted #00CCFF;
  text-align: center;
  margin: 2em 0 4em 0; }

header {
  background-color: #FBFBFB;
  width: 100%;
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 1000;
  text-align: right; }
  header a {
    text-decoration: none;
    color: #262626; }

.mobile-nav ul {
  display: block;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 7em; }
  .mobile-nav ul li {
    display: block;
    padding: 2vh 0 2vh 0; }

.one {
  padding: 15px;
  position: relative;
  min-height: 100vh; }
  .one .container {
    margin-top: 15%; }
  .one .header {
    position: absolute;
    top: 60%;
    transform: translateY(-50%); }
  .one .title {
    max-width: 390px;
    width: 90%;
    margin-right: 5%; }
    .one .title h1 {
      text-transform: uppercase;
      color: #002B43;
      font-family: 'Hind', sans-serif;
      font-weight: 100;
      margin-bottom: 0.5em; }
    .one .title h5 {
      color: #99E000; }

.two {
  padding: 0 1.5em 0 1.5em;
  background-color: #EFF3F3;
  height: 100%; }
  .two h1 {
    color: #002B43; }
  .two h3 {
    font-weight: 100; }
  .two h4 {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase; }
  .two .project {
    color: #FBFBFB;
    text-align: center;
    font-family: Lato, sans-serif; }

.three {
  padding: 0 1.5em 0 1.5em;
  height: 100%;
  position: relative; }
  .three h1 {
    color: #002B43; }
  .three a {
    color: #002B43; }
    .three a:hover {
      color: #00CCFF; }
    .three a:visited {
      color: #002B43; }

.profile-photo {
  width: 150px;
  float: right;
  margin: 0 20px 20px 20px; }

.four {
  padding: 0 1.5em 0 1.5em;
  height: 100%;
  background-color: #EFF3F3; }
  .four h1 {
    color: #002B43; }

.five {
  padding: 15px;
  height: 100%;
  min-height: 100vh; }
  .five h1 {
    color: #002B43; }

.project-image img {
  width: 100%; }

.project-image:hover {
  cursor: pointer; }

.project-section {
  border-bottom: 1px dotted #FF1C5E;
  padding: 1em 0 3em 0; }
  .project-section:last-child {
    border-bottom: none; }

.project-tile {
  text-align: center; }
  .project-tile h5 {
    margin: 0 0 0.5em 0; }
  .project-tile h6 {
    margin: 0; }

.project-icon img {
  height: 1em;
  float: left;
  margin-top: 5px;
  margin-right: 20px; }

.close-div {
  display: block;
  margin-top: 3em;
  text-align: left; }
  .close-div a {
    text-decoration: none;
    padding-right: 1em;
    color: #FF1C5E;
    font-size: 1.5em; }

.background-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.background-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.videos {
  padding-top: 2em; }
  .videos a {
    color: #002B43; }

.embed-container img {
  width: 100%;
  border: 2px solid #002B43;
  margin-bottom: 1.5em; }
  .embed-container img:hover {
    cursor: pointer;
    opacity: .7;
    border: 2px solid #00CCFF; }

.youtube-vid {
  width: 25%;
  float: left;
  padding-right: 20px;
  text-align: center; }
  .youtube-vid h5 {
    margin: 0.5em 0 1em 0; }
  .youtube-vid h6 {
    margin: 0; }
  .youtube-vid:hover {
    color: #00CCFF; }
  .youtube-vid a {
    text-decoration: none;
    color: #002B43; }
    .youtube-vid a:hover {
      color: #00CCFF; }

.bird {
  display: inline-block; }
  .bird-one {
    width: 15%;
    margin-right: 10px; }
  .bird-two {
    width: 10%;
    margin-right: 10px; }
  .bird-three {
    width: 13%;
    margin-right: 10px; }
  .bird-four {
    width: 15%;
    margin-right: 10px; }

.menu-toggle:hover {
  cursor: pointer; }

.menu {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #FBFBFB;
  padding: 10px 0 0 0; }
  .menu a {
    color: #002B43;
    text-decoration: none;
    text-transform: uppercase; }
  .menu a:hover {
    font-weight: 700;
    color: #00CCFF;
    background: #EFF3F3; }

.menu-item:hover, .menu-item:active {
  background: #EFF3F3; }

#menu-open {
  margin-right: 20px;
  position: absolute;
  top: 6px;
  color: #FF1C5E;
  right: 10px;
  font-size: 1.25em; }
  #menu-open img {
    width: 12px; }

.footer {
  padding: 0 1.5em 0 1.5em;
  background-color: #002B43;
  margin: 0;
  min-height: 250px;
  color: #FBFBFB; }
  .footer a {
    color: #99E000;
    text-decoration: none;
    font-weight: lighter;
    font-size: 0.875em; }
  .footer h1 {
    color: #FBFBFB; }
  .footer h3 {
    margin-top: 0; }
  .footer-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px; }
    .footer-list li {
      display: inline;
      margin: 5px; }
      .footer-list li img {
        border: 1px solid #FBFBFB;
        border-radius: 25px; }
        .footer-list li img:hover {
          border: 1px solid #FF1C5E;
          cursor: pointer;
          background: #FF1C5E; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp; }

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); } }

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); } }

.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut; }

.mini-nav {
  display: block;
  margin-bottom: 3em;
  max-width: 100%;
  overflow: hidden; }

.mini-button {
  float: left;
  border-radius: 0;
  padding: 0.5em 1em 0.5em 1em;
  width: 33%;
  border: 1px dotted #002B43;
  margin-right: -1px;
  color: #002B43;
  font-size: 12px;
  text-align: center;
  max-width: 115px; }
  .mini-button:hover {
    cursor: pointer;
    background: #00CCFF;
    color: #EFF3F3; }

.active-tab {
  border: 1px dotted #002B43;
  color: #EFF3F3;
  background: #002B43; }

.facts {
  display: none; }
  .facts ul {
    list-style: none;
    padding-left: 20px; }
    .facts ul li {
      padding-left: 1em;
      text-indent: -2em; }
    .facts ul li:before {
      content: "+";
      padding-right: 1em;
      color: #FF1C5E;
      line-height: 1.7; }

.props {
  display: none; }

.breadcrumbs {
  font-size: .875em;
  border-bottom: 7px solid #eee;
  margin: 0 -1.25em 1.5em;
  padding: 1em 1.25em; }

.breadcrumbs span {
  display: none; }

@media (min-width: 30em) {
  .breadcrumbs {
    line-height: 3.75;
    padding: 0 1.25em; } }

@media (min-width: 60em) {
  .breadcrumbs span {
    display: inline-block; } }

#slider-outer {
  max-width: 90%;
  position: relative;
  line-height: 1.75em; }

#slider {
  display: block;
  overflow: hidden; }

#slider-outer .slide-check {
  position: absolute;
  left: -9999px; }

#slider .slides {
  width: 800%;
  /* #### (slides x 100) #### */ }
  #slider .slides a {
    color: #FF1C5E; }

#slider .slides > div {
  width: 12.5%;
  /* #### (100 / slides) #### */
  float: left;
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out; }

#slider-outer .arrows {
  text-indent: 0.1875em;
  text-align: center;
  position: absolute;
  display: none;
  z-index: 9999;
  bottom: 0;
  color: #FF1C5E;
  width: 2em;
  height: 2em;
  cursor: pointer; }

#slider-outer .arrows:hover {
  color: #002B43; }

/* #### - define ids of checked buttons/arrows here - #### */
#btn-goto-first:checked ~ #arrow-1,
#btn-1:checked ~ #arrow-2,
#btn-2:checked ~ #arrow-3,
#btn-3:checked ~ #arrow-4,
#btn-4:checked ~ #arrow-5,
#btn-5:checked ~ #arrow-6,
#btn-6:checked ~ #arrow-7,
#btn-7:checked ~ #arrow-8,
#btn-8:checked ~ #arrow-1 {
  /* last button always goes to #arrow-1 */
  right: 1px;
  display: block; }

/* #### - define ids of checked buttons/arrows here - reposition/rotate '>' arrows to fake '<' arrows - #### */
#btn-2:checked ~ #arrow-1,
#btn-3:checked ~ #arrow-2,
#btn-4:checked ~ #arrow-3,
#btn-5:checked ~ #arrow-4,
#btn-6:checked ~ #arrow-5,
#btn-7:checked ~ #arrow-6,
#btn-8:checked ~ #arrow-7,
#btn-1:checked ~ #arrow-8 {
  /* #btn-1 always goes to last arrow */
  left: 1px;
  display: block;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

/* #### - define ids of checked buttons/arrows here - (% increment per slide) - move slides when checked - #### */
#slider-outer #btn-1:checked ~ #slider .slides > div, #slider #btn-goto-first:checked ~ #slider .slides > div {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

#slider-outer #btn-2:checked ~ #slider .slides > div {
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }

#slider-outer #btn-3:checked ~ #slider .slides > div {
  -webkit-transform: translate(-200%, 0);
  -ms-transform: translate(-200%, 0);
  transform: translate(-200%, 0); }

#slider-outer #btn-4:checked ~ #slider .slides > div {
  -webkit-transform: translate(-300%, 0);
  -ms-transform: translate(-300%, 0);
  transform: translate(-300%, 0); }

#slider-outer #btn-5:checked ~ #slider .slides > div {
  -webkit-transform: translate(-400%, 0);
  -ms-transform: translate(-400%, 0);
  transform: translate(-400%, 0); }

#slider-outer #btn-6:checked ~ #slider .slides > div {
  -webkit-transform: translate(-500%, 0);
  -ms-transform: translate(-500%, 0);
  transform: translate(-500%, 0); }

#slider-outer #btn-7:checked ~ #slider .slides > div {
  -webkit-transform: translate(-600%, 0);
  -ms-transform: translate(-600%, 0);
  transform: translate(-600%, 0); }

#slider-outer #btn-8:checked ~ #slider .slides > div, #slider #btn-goto-last:checked ~ #slider .slides > div {
  -webkit-transform: translate(-700%, 0);
  -ms-transform: translate(-700%, 0);
  transform: translate(-700%, 0); }

/* - #### custom styles for slide content - #### */
#slider .slides > div > div {
  padding: 0 0.5em 4em 0.5em; }

#slider .slides img {
  float: left;
  margin-top: 0.25em;
  margin-right: 1em; }

#slider .slides .title {
  display: block;
  margin-bottom: 0.75em;
  font-size: 1.25em;
  text-transform: uppercase;
  font-family: 'Hind', sans-serif; }

#slider .slides .num {
  font-size: .875em;
  color: #999;
  font-style: italic; }

@media (max-width: 30em) {
  #slider-outer {
    line-height: 1.5em;
    padding: 0 0 1.125em 0;
    max-width: 100%; }
  #slider .slides > div > div {
    padding: 0 0.5em 2.25em 0.5em; }
  #slider .slides .more {
    text-align: center; } }

@media all and (max-width: 600px) {
  .one .title h1 {
    font-size: 1.641em;
    margin-top: .5em;
    margin-bottom: 0; }
  .one .title h5 {
    margin-top: 0;
    margin-bottom: 1em;
    color: #99E000; }
  h1 {
    font-size: 1.641em; }
  .profile-photo {
    width: 100px; }
  .project-tile {
    display: block;
    text-align: left;
    margin-top: 10px; }
    .project-tile h5 {
      margin: 0 0 0.5em 0; }
    .project-tile h6 {
      margin: 0; }
  .project-image {
    width: 80px;
    float: left; }
  .project-image img {
    width: 80px;
    float: left; }
  .youtube-vid {
    width: 50%;
    padding: 0 0 1.5em 0; }
    .youtube-vid img {
      width: 35%;
      float: left;
      margin-right: 25px; }
    .youtube-vid h5 {
      margin: 0 0 0.5em 0;
      text-align: left; }
    .youtube-vid h6 {
      margin: 0;
      text-align: left; } }

@media all and (max-width: 490px) {
  .youtube-vid {
    width: 100%; }
  .project-image {
    width: 115px; }
    .project-image img {
      width: 115px; } }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FBFBFB;
  color: #262626;
  overflow-x: hidden; }

hr.sand {
  padding: 0;
  border: none;
  border-top: thin solid #FBFBFB;
  text-align: center;
  margin: 2em 0 4em 0; }

hr.teal {
  padding: 0;
  border: none;
  border-top: thin solid #002B43;
  text-align: center;
  margin: 2em 0 4em 0; }
