@import url(https://fonts.googleapis.com/css?family=Hind:400,700,300|Open+Sans);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 20px; }

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 748px;
  margin: 0 auto;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-top: 20px;
  padding-right: 0; }

.push-right {
  float: right; }

.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 32.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0; }
  [class*='col-'] {
    width: auto;
    float: none;
    padding-left: 0;
    padding-right: 10px;
    padding-top: 20px; }
  [class*='mobile-col-'] {
    float: left;
    margin: 0 0 10px;
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 0; }
  .mobile-col-1-1 {
    width: 100%; }
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%; }
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%; }
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%; }
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%; }
  .mobile-col-1-5 {
    width: 20%; }
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%; }
  .mobile-col-1-7 {
    width: 14.28%; }
  .mobile-col-1-8 {
    width: 12.5%; }
  .mobile-col-1-9 {
    width: 11.1%; }
  .mobile-col-1-10 {
    width: 10%; }
  .mobile-col-1-11 {
    width: 9.09%; }
  .mobile-col-1-12 {
    width: 8.33%; }
  .mobile-col-11-12 {
    width: 91.66%; }
  .mobile-col-10-12 {
    width: 83.333%; }
  .mobile-col-9-12 {
    width: 75%; }
  .mobile-col-5-12 {
    width: 41.66%; }
  .mobile-col-7-12 {
    width: 58.33%; }
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }

@media handheld, only screen and (max-width: 400px) {
  .mobile-col-1-4 {
    width: 100%; } }

.dark {
  color: #002B43; }

.medium {
  color: #00CCFF; }

.light {
  color: #99E000; }

.hot {
  color: #FF1C5E; }

.alien {
  color: #CACCCC; }

html {
  font-size: 1em; }

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  font-weight: inherit; }

h1 {
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

small, .font_small {
  font-size: 0.8em; }

quote {
  font-style: italic;
  font-size: 1.25em;
  color: #FF1C5E; }

@media all and (max-width: 600px) {
  .one .title h1 {
    font-size: 1.641em;
    margin-top: .5em;
    margin-bottom: 0; }
  .one .title h5 {
    margin-top: 0;
    margin-bottom: 1em;
    color: #99E000; }
  h1 {
    font-size: 1.641em; } }

.section-header {
  font-family: 'Hind', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  position: relative; }

.section {
  margin: 0;
  height: 100%; }

.container {
  max-width: 900px;
  display: block;
  margin: 0 auto;
  padding: 2em 0.5em 5em 0.5em; }

.accent {
  font-weight: bold; }

.divider-one {
  padding: 0;
  border: none;
  border-top: 1px dotted #00CCFF;
  text-align: center;
  margin: 2em 0 4em 0; }

header {
  background-color: #FBFBFB;
  width: 100%;
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 1000;
  text-align: right; }
  header a {
    text-decoration: none;
    color: #262626; }

.mobile-nav ul {
  display: block;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 30px; }
  .mobile-nav ul li {
    display: block;
    padding: 2vh 0 2vh 0; }
    .mobile-nav ul li:first-child {
      box-shadow: 1px 0 1px #CACCCC; }

.one {
  padding: 15px;
  position: relative;
  min-height: 100vh; }
  .one .container {
    margin-top: 15%; }
  .one .header {
    position: absolute;
    top: 60%;
    transform: translateY(-50%); }
  .one .title {
    max-width: 390px;
    width: 90%;
    margin-right: 5%; }
    .one .title h1 {
      text-transform: uppercase;
      color: #002B43;
      font-family: 'Hind', sans-serif;
      font-weight: 100;
      margin-bottom: 0.5em; }
    .one .title h5 {
      color: #99E000; }

.two {
  padding: 15px;
  background-color: #EFF3F3;
  height: 100%; }
  .two h1 {
    color: #002B43; }
  .two h3 {
    font-weight: 100; }
  .two p {
    margin-bottom: 3em; }
  .two .project {
    color: #FBFBFB;
    text-align: center;
    font-family: Lato, sans-serif; }

.three {
  padding: 15px;
  height: 100%;
  position: relative; }
  .three h1 {
    color: #002B43; }
  .three p {
    margin: 1em 0 1em 0; }

.profile-photo {
  width: 150px;
  float: right;
  margin: 0 20px 20px 20px; }

.four {
  padding: 15px;
  height: 100%;
  background-color: #EFF3F3; }
  .four h1 {
    color: #002B43; }

.five {
  padding: 15px;
  height: 100%;
  min-height: 100vh; }
  .five h1 {
    color: #002B43; }

.project-section {
  width: 25%;
  float: left;
  min-height: 1px;
  padding-right: 20px; }

.project-image img {
  width: 100%; }

.project-tile {
  display: none; }

.background-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.background-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.youtube-vid {
  width: 25%;
  float: left;
  padding-right: 20px; }

@media all and (max-width: 690px) {
  .youtube-vid {
    width: 50%;
    margin-left: 0;
    padding-right: 20px; }
  .embed-container {
    margin: 1em 0 2em 0; } }

@media all and (max-width: 465px) {
  .youtube-vid {
    width: 95%; } }

.bird {
  display: inline-block; }
  .bird-one {
    width: 15%;
    margin-right: 10px; }
  .bird-two {
    width: 10%;
    margin-right: 10px; }
  .bird-three {
    width: 13%;
    margin-right: 10px; }
  .bird-four {
    width: 15%;
    margin-right: 10px; }

.menu-toggle:hover {
  cursor: pointer; }

.menu {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #FBFBFB;
  padding: 10px 0 0 0; }
  .menu a {
    color: #002B43;
    text-decoration: none;
    text-transform: uppercase; }
  .menu .home {
    background-color: #FBFBFB; }
  .menu .projects {
    background-color: #EFF3F3; }
  .menu .about {
    background-color: #FBFBFB; }
  .menu .hip-hop {
    background-color: #EFF3F3; }
  .menu .contact {
    background-color: #FBFBFB; }
  .menu a:hover {
    font-weight: 700;
    color: #002B43; }

#menu-open {
  margin-right: 20px;
  position: absolute;
  top: 6px;
  color: #FF1C5E;
  right: 10px;
  font-size: 1.25em; }

.footer {
  background-color: #002B43;
  margin: 0;
  padding: 15px;
  min-height: 250px;
  color: #FBFBFB; }
  .footer h1 {
    color: #FBFBFB; }
  .footer h3 {
    margin-top: 0; }
  .footer-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px; }
    .footer-list li {
      display: inline;
      margin: 5px; }
    .footer-list img:hover {
      cursor: pointer; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FBFBFB;
  color: #262626;
  overflow-x: hidden; }

hr.sand {
  padding: 0;
  border: none;
  border-top: thin solid #FBFBFB;
  text-align: center;
  margin: 2em 0 4em 0; }

hr.teal {
  padding: 0;
  border: none;
  border-top: thin solid #002B43;
  text-align: center;
  margin: 2em 0 4em 0; }

@media all and (max-width: 600px) {
  .profile-photo {
    width: 100px; }
  .project-section {
    float: none;
    margin: 0 0 2em 0;
    padding: 0;
    width: 100%;
    text-align: left;
    overflow: hidden; }
  .project-tile {
    display: block; }
    .project-tile h4 {
      margin: 0 0 0.25em 0;
      text-align: left; }
    .project-tile p {
      margin: 0;
      font-size: 0.875em; }
  .project-image {
    display: block;
    width: 100px;
    float: left; }
  .project-image img {
    width: 80px;
    float: left; } }
