h1, h2, h3, h4 {
  margin: 0 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-family: 'Benton Bold', sans-serif;
  font-size: 3.157em;
}

h2 {
    font-size: 2.369em;
    font-family: 'Benton Medium', sans-serif;
}

h3 {
    font-size: 1.777em;
    font-family: 'Benton Light', sans-serif;
    color: $gray;
}

h4 {
    font-size: 1.333em;
    font-weight: 700;
}

h5 {
    font-family: 'Benton Regular', sans-serif;
}

small, .font_small {font-size: 0.75em;}

p {
    margin-bottom: 1.3em;
}

strong {
    font-family: 'Benton Medium';
    font-weight: lighter;
}

a {
    transition: color .25s;
    text-decoration: none;
    font-family: 'Benton Regular', sans-serif;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
        transition: color .25s;
    }
}

@include media-query($small-screen) {
    h1, h2, h3, h4 {
      margin: 0 0 0.15em;
      font-weight: inherit;
      line-height: 1;
    }

    h1 {
      margin-top: 0;
      font-family: 'Benton Bold', sans-serif;
      font-size: 2.75em;
    }

    h2 {
        font-size: 1.962em;
        font-family: 'Benton Medium', sans-serif;
    }

    h3 {
        font-size: 1.37em;
        font-family: 'Benton Light', sans-serif;
        color: $gray;
    }

    h4 {
        font-size: .962em;
        font-weight: 700;
    }

    h5 {
        font-family: 'Benton Regular', sans-serif;
    }

    small, .font_small {font-size: 0.75em;}

    p {
        margin-bottom: 1.3em;
        font-size: .875em;
    }
}
