<section class="about">
	<div class="band-lightgrey">
		<div class="wrapper">
			<h3 class="page-heading">Whattup</h3>
			<hr class="divider-blue">
			<p>My name is Randy.</p>
			<p> I'm a full-stack family man, basically meaning that I'm blessed to be happily married & the father of two wild, but brilliant boys.</p>
			<p>I write code for a living and love every minute of it.</p>
			<p>And lastly, I believe in UFOs, enjoy (out-of-body) traveling, and dig independent hip hop.</p>
			<div class="button-wrapper">
				<a href="/about" class="button">Read my story &#9656;</a>
			</div>
		</div>
	</div>
</section>