<section class="blog">
	<div class="band-plain">
		<div class="wrapper">
			<h3 class="page-heading">Latest blogs</h3>
			<hr class="divider-magenta">
			<p>I've always enjoyed writing, since childhood actually. Whether it has to do with parenthood, education, code, or the exploration of design - this is where those thoughts reside. I'm looking forward to sharing my experiences (both failures and wins) here on my blog.</p>
			<div class="button-wrapper">
				<a href="/2016-blog" class="button">View all blog posts &#9656;</a>
			</div>
		</div>
		<div class="wrapper">
			<ul class="post-list">
				{% for post in site.posts limit: 4 %}
					<li class="post-card-home">
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
							<div class="post-card-item">
								<h4 class="post-card-title">{{ post.title }}</h4>
								<img class="post-card-img" src="{{site.url}}/assets/{{post.img}}" alt="{{post.alt}}">
								<p class="post-subtitle">{{ post.subtitle }}</p>
								<p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>