<div class="contact">
    <ul class="contact--list">
        <li class="contact--list-item"><a href="https://twitter.com/techtolentino"><img class="img--icon" src="/assets/twitter.png" alt=""></a></li>
        <li class="contact--list-item"><a
        href="https://github.com/techtolentino"><img class="img--icon" src="/assets/github.png" alt=""></a></li>
        <li class="contact--list-item"><a
        href="https://linkedin.com/in/randytolentino"><img class="img--icon" src="/assets/linkedin.png" alt=""></a></li>
        <li class="contact--list-item"><a href="mailto:makertolentino@gmail.com"><img class="img--icon" src="/assets/email.png" alt=""></a></li>
    </ul>
</div>
