<div class="band--footer">
    <div class="wrapper">
        <footer class="footer">
            <div class="footer-third">
                <ul class="contact--list">
                    <li>randytolentino.com &copy; 2016</li>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>
            <div class="footer-third">
                <ul class="social-media-list">
                    <li class="footer-icon">
                        <a href="https://github.com/techtolentino" target="blank">
                            <img src="/assets/svg-github.svg" alt="github icon">
                        </a>
                    </li>
                </li>
                <li class="footer-icon">
                    <a href="https://twitter.com/techtolentino" target="blank">
                        <img src="/assets/svg-twitter.svg" alt="twitter icon">
                    </a>
                </li>
                <li class="footer-icon">
                    <a href="https://linkedin.com/in/randytolentino" target="blank">
                        <img src="/assets/svg-linkedin.svg" alt="linkedin icon">
                    </a>
                </li>
                <li class="footer-icon">
                    <a href="mailto:makertolentino@gmail.com">
                        <img src="/assets/svg-mail.svg" alt="email icon">
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="footer-third">
            <p>{{ site.description }}</p>
        </div>
    </footer>
</div>