<header>
    <div class="band band--header">
        <div class="container container-md">
            <ul class="nav-list">
                <a href="/" class="nav-list--link">
                    <li class="nav-list--item text--SMALL">Home</li>
                </a>
                <a href="/about" class="nav-list--link">
                    <li class="nav-list--item text--SMALL">About</li>
                </a>
                <a href="/work" class="nav-list--link">
                    <li class="nav-list--item text--SMALL">Work</li>
                </a>
                <a href="contact" class="nav-list--link"
                    ><li class="nav-list--item text--SMALL">Contact</li>
                </a>
            </ul>            
        </div>
    </div>
</header>