<header class="header">
    <div class="header-main">
        <div class="wrapper">
            <a class="header-title" href="{{ site.baseurl }}/">
                <img class="bird-logo" src="{{site.url}}/assets/bird-four.svg" alt="bird four image">
            </a>
            <div class="header-secondary" id="navMenu">
                <div class="header-nav-menu" >
                    <a class="header-link" href="/about/">About</a>
                    <a class="header-link" href="/2016-blog/">Blog</a>
                    <a class="header-link" href="/work/">Work</a>
                </div>
            </div>
        </div>
    </div>
</header>