<section>
	<div class="wrapper">
		<div class="band-hero">
			<div class="band-hero-half">
				<div class="band-hero-title">
					<div class="band-hero-flock">
						<img class="bird-four" src="assets/bird-four.svg" alt="bird four image">
						<img class="bird-two" src="assets/bird-two.svg" alt="bird two image">
						<img class="bird-three" src="assets/bird-three.svg" alt="bird three image">
						<img class="bird-one" src="assets/bird-one.svg" alt="bird one image">
					</div>
					<p class="text-1 page-heading">Randy <span class="accent">Tolentino</span></p>
					<p class="page-subheading">fam spirit syntax & rhyme</p>
				</div>
			</div>
			<div class="band-hero-half">
				<div class="band-hero-actions">
					<h3>something</h3>
					<ul class="band-hero-list">
						<a href="/about"><li>Read my story &#9656;</li></a>
						<a href="/blog"><li>Peruse the blog &#9656;</li></a>
						<a href="/work"><li>Peep some projects &#9656;</li></a>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>