<section>
	<div class="wrapper">
		<div class="band-hero">
			<div class="band-hero-title">
				<div class="band-hero-flock">
					<img class="bird-four" src="assets/bird-four.svg" alt="bird four image">
					<img class="bird-two" src="assets/bird-two.svg" alt="bird two image">
					<img class="bird-three" src="assets/bird-three.svg" alt="bird three image">
					<img class="bird-one" src="assets/bird-one.svg" alt="bird one image">
				</div>
				<div class="band-hero-headline">
					<p class="text-1 page-heading">Randy <span class="accent">Tolentino</span></p>
				</div>
				<div class="band-hero-actions">
					<ul class="band-hero-actions-list">
						<a href="/about"><li>life</li></a>
						<a href="/blog"><li>blog</li></a>
						<a href="/work"><li>work</li></a>
					</ul>
				</div>
				<ul class="band-hero-social-list">
					<li>
						<a href="https://github.com/techtolentino" target="blank">
							<img src="/assets/github.png" alt="github icon">
						</a>
					</li>
					<li>
						<a href="https://twitter.com/techtolentino" target="blank">
							<img src="/assets/twitter.png" alt="twitter icon">
						</a>
					</li>
					<li>
						<a href="https://linkedin.com/in/randytolentino" target="blank">
							<img src="/assets/linkedin.png" alt="linkedin icon">
						</a>
					</li>
					<li>
						<a href="mailto:makertolentino@gmail.com">
							<img src="/assets/email.png" alt="email icon">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>