<section>
	<div class="wrapper">
		<div class="band-hero">
			<div class="band-hero-title">
				<div class="band-hero-flock">
					<img class="bird-four" src="assets/bird-four.svg" alt="bird four image">
					<img class="bird-two" src="assets/bird-two.svg" alt="bird two image">
					<img class="bird-three" src="assets/bird-three.svg" alt="bird three image">
					<img class="bird-one" src="assets/bird-one.svg" alt="bird one image">
				</div>
				<p class="text-1 page-heading">Randy <span class="accent">Tolentino</span></p>
				<p class="page-subheading">fam spirit syntax & rhyme</p>
			</div>
		</div>
	</div>
</section>