<section class="highlight">
	<div class="highlight-photo">
		<img src="/assets/wife.jpg" alt="">
	</div>
	<div class="highlight-photo">
		<img src="/assets/beach.jpg" alt="">
	</div>
	<div class="highlight-photo">
		<img src="/assets/boys.jpg" alt="">
	</div>
	<div class="highlight-photo">
		<img src="/assets/ice_cream.jpg" alt="">
	</div>
	<div class="highlight-photo">
		<img src="/assets/rhyme.jpg" alt="">
	</div>
	<div class="highlight-photo">
		<img src="/assets/grass.jpg" alt="">
	</div>
	<div class="highlight-photo">
		<img src="/assets/randy_2016.jpg" alt="">
	</div>
	<div class="highlight-photo">
		<img src="/assets/space.jpg" alt="">
	</div>
</section>