<section class="work">
	<div class="band-lightgrey">
		<div class="wrapper">
			<h3 class="page-heading">Work</h3>
			<hr class="divider-grey">
			<p>At the time of this merge, I've been working with code for about 2 years - I still have tons to learn, about everything. I'm currently interested in most things Javascript (obvi), and I'm working my understanding towards traversing the fuller stack as time goes progresses.</p>
			<p>In my spare time, I like to make little one-off apps while learning a new library, framework maybe, or even just a newer, simpler approach.</p>
			<div class="button-wrapper">
				<a href="/work" class="button">Check out my work &#9656;</a>
			</div>
		</div>
	</div>
</section>