.band {
    &-hero {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        &-list {
            list-style-type: none;
            margin-left: 0;
        }

        &-social-list {
            list-style-type: none;
            margin-top: 10em;
            & li {
                display: inline;
                & img {
                    width: 1.5em;
                    padding: 1em;
                    opacity: .35;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        &-headline {
            margin-bottom: 3em;
        }

        &-actions {
            &-list {
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                & a {
                    flex: 0 0 20%;
                    color: $darkblue;
                    & li {
                        padding-bottom: .5em;
                        text-transform: uppercase;
                    }
                }
            }
        }

        &-flock {
            margin-bottom: 3em;
        }

        &-title {
            color: $darkblue;
            text-align: center;

            h2 {
                font-weight: lighter;
            }

            .bird-one {
                max-width: 1.75em;
                margin-right: 1.5em;
            }

            .bird-two {
                max-width: 1.25em;
                margin-right: 1.5em;
            }

            .bird-three {
                max-width: 1.35em;
                margin-right: 1.5em;
            }

            .bird-four {
                max-width: 1.75em;
                margin-right: 1.5em;
            }

        }
    }

    &--footer {
        border-top: 1px dotted $midgrey;
    }
    
    &-lightgrey {
        padding: 4em 0 4em 0;
        background: $offwhite;
    }    

    &-plain {
        padding: 4em 0 4em 0;
        background: $white;    
    }

    &-spaced {
        padding: 9em 0 5em 0;
    }
}
