.band {
    width: 100%;
    padding: $spacing-unit 0 $spacing-unit 0;

    &-md {
        width: 100%;
        padding: $spacing-unit * 2 0 $spacing-unit * 2 0;
    }

    &-full {
        min-height: 100vh;
    }

    &--SECONDARY {
        background: $secondary;
    }

    &--header {
        width: 100%;
        padding: $spacing-unit / 2 0 $spacing-unit / 2 0;
        background: lighten($gray, 40%);
    }
}
