.band {
    &-hero {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-half {
            flex: 0 0 45%;
        }

        &-flock {
            margin-bottom: 2em;
        }

        &-title {
            color: $darkblue;

            h2 {
                font-weight: lighter;
                margin-top: 1em;
            }

            img {
                max-width: 40px;
                margin-right: 1em;
            }

            .bird-two {
                max-width: 30px;
                margin-right: 1.5em;
            }

            .bird-three {
                max-width: 25px;
                margin-right: 1.25em;
            }
        }
    }
    
    &-lightgrey {
        padding: 4em 0 4em 0;
        background: $offwhite;
    }    

    &-plain {
        padding: 4em 0 4em 0;
        background: $white;    
    }

    &-spaced {
        padding: 9em 0 5em 0;
    }
}
