@mixin button {
    background: transparent;
    border: 1px dotted $magenta;
    color: #FF115B;
    padding: .5em 1em;
    font-size: 0.875em;
    font-weight: lighter;
    margin: 2em 1em 2em 0;
    display: inline-block;
    &:nth-child(2) {
    	border: 1px dotted $blue;
    	color: $blue;
    }    
}

.button {
    @include button;
    
	&:hover {
		color: $blue;
		border: 1px solid $blue;
		background: $highlight;
		cursor: pointer;
		transition: border .5s ease, color .5s ease, background .5s ease;
	}
	&-wrapper {
		display: block;
		padding: 2em 0 2em 0;
		
		&:last-child {
			padding: 0;
		}
	}

	&-set {
		display: flex;
		justify-content: space-around;
	}

	&-half {
    	@include button;
		flex: 0 0 50%;
		flex-shrink: inherit;
		&:nth-child(2) {
			text-align: right;
		}
	}
}