@mixin container {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.container {
    @include container;
    max-width: $large-screen;

    &-md {
        @include container;
        max-width: $small-screen;
    }
}
