@mixin divider($line-color) {
    border: 0;
    height: 0;
    border-top: 2px solid $line-color;
    margin: 1em 0 2em 0;
    width: 5em;
}

.divider {
    &--cool {
        @include divider($cool-color);
    }

    &--accent {
        @include divider($accent-color);
    }

    &--gray {
        @include divider($gray-color);

        &--SHORT {
            @include divider($gray-color);
            padding-top: $spacing-unit * 2;
            width: 3em;
        }
    }
}
