@font-face {
  font-family: 'Benton Light';
  src: url('/css/fonts/BentonSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Benton Regular';
  src: url('/css/fonts/BentonSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Benton Medium';
  src: url('/css/fonts/BentonSans-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Benton Bold';
  src: url('/css/fonts/BentonSans-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
