.footer {
    color: $darkblue;
    padding: 4em 0 4em 0;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    &-third {
        flex: 0 0 33.3333%;
    }

    ul {
        margin: 0;
    }

    li {
        list-style-type: none;
    }

    .social-media-list {
        li {
            display: inline;
        }

        a {
            text-decoration: none;
        }

        img {
            width: 25px;
            padding-right: 25px;
        }
    }
}

