.highlight {
	margin-bottom: 1em;
	margin-top: 1em;
	overflow: hidden;
	padding: 1em;
	&-photo {
		width: calc(100%/4);
		float: left;
		margin-bottom: -0.5em;
		img {
			width: 100%;
			border: 2px solid $offwhite;
		}
	}

}