.home {
    background: $background-color;
    color: $text-color;

    &--content {
        background-color: $background-color;
        align-self: center;
        padding-bottom: $spacing-unit;

        &-description {
            max-width: 35em;
            margin-bottom: 3em;
        }
    }

    &--subtitle {
        text-transform: uppercase;
    }

    &--title {
        text-transform: uppercase;
        margin-bottom: $spacing-unit / 4;
    }
}
