.layout {
    &--side {
        background-color: $accent-color;
        min-width: 8em;
        height: 100%;
        float: left;
        min-height: 100vh;
    }
    &--main {
        margin-left: 8em;
    }
}
