@media all and (max-width: $large-width) {
    .post-card {
        width: 100%;
    }
}

@media all and (max-width: $medium-width) {
    .post, .project {
        &-list {
        }
        &-card, &-card-home {
            flex: 0 0 45%;
            margin-bottom: .25em;
            margin: 1em 1em 1em 0;
        }
    }

    .project-card, .post-card-home {
        &:last-child {
            display: block;
        }
    }
    .footer {
        &-third {
            flex: 0 0 100%;
            margin-bottom: 2em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media all and (max-width: $small-width) {
    .post, .project {
        &-card, &-card-home {
            flex: 0 0 100%;
            text-align: left;
            margin-top: 0;

            &-img {
                margin-left: 0;
                margin-top: .5em;
            }
        }
    }
    .text-1 {
        font-size: 2em;
        margin-top: .5em;
    }


    .band-hero {
        &-flock {
            margin-bottom: 1em;
        }

        &-title {
            .bird-one {
                max-width: 1.25em;
                margin-right: 1em;
            }

            .bird-two {
                max-width: 1em;
                margin-right: 1em;
            }

            .bird-three {
                max-width: 1em;
                margin-right: 1em;
            }

            .bird-four {
                max-width: 1.25em;
                margin-right: 1em;
            }
        }

        &-social-list {
            list-style-type: none;
            margin-top: 10em;
            & li {
                display: inline;
                & img {
                    width: 1.5em;
                }
            }
        }
    }

    .header-link {
        font-size: .875em;
    }

    .project {
        &-card {
            width: 100%;
        }
    }

}