.page {
    &--content {
        margin-top: 86px;
    }

    &-heading {
        font-family: 'Vidaloka', serif;
    }

    &-subheading {
        font-family: 'Work sans', sans-serif;
        font-weight: lighter;
    }
}