$post-meta-type-size: .75em;

.post {
    &-list {
        list-style-type: none;
        padding-left: 0;
    }

    &-list-item {
        padding-top: $spacing-unit / 2;
        padding-bottom: $spacing-unit;
        border-bottom: 1px dotted $gray-color;
        margin-bottom: $spacing-unit / 2;
        margin-top: $spacing-unit / 2;
    }

    &-title {
        margin-bottom: .5em;
    }

    &-link {
        color: $text-color;
        font-weight: 400;
        text-decoration: none;

        &:visited {
            color: $text-color;
        }

        &:hover {
            .post-link {
                color: $accent-color;
                font-weight: 400;
            }

            .post-meta {
                color: $accent-color;
            }

            .post-list-item {
                border-bottom: 1px dotted $accent-color;
            }
        }
    }

    &-meta {
        font-size: $post-meta-type-size;
    }

    &-preview {
        display: block;
        max-width: 35em;
    }

    &-pagination {
        display: flex;
        justify-content: space-between;
        padding-top: $spacing-unit / 2;
        margin-top: $spacing-unit * 2;
        border-top: 1px dotted $gray-color;
    }

    &-pagination-link-left {
        color: darken($gray-color, 15%);
        text-decoration: none;

        &:hover {
            color: $accent-color;
        }
    }

    &-pagination-link-right {
        color: darken($gray-color, 15%);
        text-decoration: none;
        text-align: right;

        &:hover {
            color: $accent-color;
        }
    }    

    &-pagination-previous-date {
        font-size: $post-meta-type-size;
        padding-left: $spacing-unit / 2;
    }

    &-pagination-next-date {
        font-size: $post-meta-type-size;
        padding-right: $spacing-unit / 2;
    }    
}

@include media-query($small-screen) {
    .post {
        &-list-item {
            padding: 1em 1em 1em 0;
        }

        &-link {
            &:hover {
                .post-title {
                    color: $accent-color;
                    font-weight: 400;
                }

                .post-list-item {
                    // border: 1px dotted $accent-color;
                }
            }
        }
    }
}
