p {
    margin-bottom: 1.3em;
    font-weight: lighter;
}

h1, h2, h3, h4 {
    margin: 0 0 0.5em;
    font-family: 'Vidaloka';
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.157em;
}

h2 {
    font-size: 2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

small, .font_small {
    font-size: 0.75em;
}
a {
    text-decoration: none;
    color: $magenta;
}

li, ol {
    font-weight: lighter;
}

pre,
code {
    font-size: 15px;
    border-radius: 2px;
    background: $black;
    padding: 2px 10px;
    color: $offwhite;
}
pre {
    overflow-x: auto;
    white-space: pre-wrap;     
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;    
    white-space: -o-pre-wrap;  
    word-wrap: break-word;      

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

blockquote, q {
    quotes: initial;
    border: 3px solid lightgrey;
    padding: 1em;
    margin: 1em 0;
    font-style: italic;    
}

.text-5 {
    font-size: 1.15em;
    margin-bottom: 1.25em;
    color: $darkblue;
}

.text-1 {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 3.157em;    
    font-weight: lighter;
}