<ul class="contact_list">
  <li class="contact_list__item">
    <a class="contact_list__link" href="https://github.com/techtolentino" target="blank">
      <img src="/assets/github.svg" class="icon_sm" alt="">
    </a>
  </li>
  <li class="contact_list__item">
    <a class="contact_list__link" href="https://linkedin.com/in/randytolentino" target="blank">
      <img src="/assets/linkedin.svg" class="icon_sm" alt="">
    </a>
  </li>
  <li class="contact_list__item">
    <a class="contact_list__link" href="https://twitter.com/techtolentino" target="blank">
      <img src="/assets/twitter.svg" class="icon_sm" alt="">
    </a>
  </li>
  <li class="contact_list__item">
    <a class="contact_list__link" href="mailto:makertolentino@gmail.com" target="blank">
      <img src="/assets/email.svg" class="icon_sm" alt="">
    </a>
  </li>
</ul>
