<div class="row_md">
  <div class="container_lg">
    <div class="feature">
      <h1 class="feature_title">Latest post</h1>
      {% for post in site.entries | limit:1%}
        <h4 class="post_title">{{ post.title }}</h4>
        <p class="post_meta">{{ post.date | date: '%B %d, %Y' }}</p>
        <img class="post_image" src="{{ post.main-image }}" alt="">
        <p class="post_excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        {% if post.excerpt != post.content %}
          <a class="post_continue" href="{{ site.baseurl }}{{ post.url }}">Read more</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
