<div class="row_md row_secondary">
  <div class="container_lg">
    <h2 class="feature_title">Latest posts</h2>
    <div class="feature_posts_container">
    {% for post in site.entries reversed%}
    {% if post.list != false %}
    <div class="feature">
      <h4 class="post_title">{{ post.title }}</h4>
      <p class="post_meta">{{ post.date | date: '%B %d, %Y' }}</p>
      <figure class="figure">
        <a class="figure_link" href="{{ site.baseurl }}{{ post.url }}">
          <img class="post_image" src="{{ post.feature-image }}" alt="{{ post.feature-image-alt }}">
        </a>
      </figure>
      <p class="post_excerpt">{{ post.content | strip_html | truncatewords: 25 }}</p>
      {% if post.excerpt != post.content %}
        <a class="post_continue" href="{{ site.baseurl }}{{ post.url }}">Continue reading ...</a>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
