<div class="row_trim">
  <div class="container_lg">
    <hr class="divider_center">
  </div>
</div>
<div class="row_md">
  <div class="container_lg">
    <h2 class="feature_title">Additional posts</h2>
    <div class="grid grid_thirds">
      <div class="grid_card">
        <img class="grid_card_image" src="https://pbs.twimg.com/media/DFRycqAUQAA7WZP.jpg:large"  alt="">
        <div class="grid_card_body">
          <h4 class="grid_card_title">Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>
      </div>
      <div class="grid_card">
        <img class="grid_card_image" src="https://pbs.twimg.com/media/C7xJ3roVMAAeSla.jpg:large"  alt="">
        <div class="grid_card_body">
          <h4 class="grid_card_title">Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>
      </div>
      <div class="grid_card">
        <img class="grid_card_image" src="https://pbs.twimg.com/media/Cs4hjgFUMAYuFZf.jpg:large"  alt="">
        <div class="grid_card_body">
          <h4 class="grid_card_title">Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>
      </div>
    </div>
  </div>
</div>
