$block-spacing: $spacing-unit / 3;

.block {
  width: 100%;
  display: block;

  &_row {
    display: flex;
    padding-bottom: $block-spacing;

    @include media-query($medium-screen) {
      display: block;
    }

    &_reverse {
      flex-direction: row-reverse;
    }
  }

  &_full {
    width: 100%;
    // padding: $block-spacing;
    min-height: 16em;
    background-size: cover;
    background-position: center;
    background-color: $blue;

    @include media-query($medium-screen) {
      width: initial;
    }
  }

  &_third {
    width: 36%;
    // padding: $block-spacing;
    min-height: 16em;
    background-size: cover;
    background-position: center;
    background-color: $green;

    @include media-query($medium-screen) {
      width: initial;
      margin-bottom: $block-spacing;
    }
  }

  &_two_thirds {
    width: 64%;
    // padding: $block-spacing;
    min-height: 16em;
    background-size: cover;
    background-position: center;
    background-color: $charcoal;
    margin-left: $block-spacing;

    @include media-query($medium-screen) {
      width: initial;
      margin-left: 0;
    }
  }

  &_half {
    width: 50%;
    // padding: $block-spacing;
    min-height: 16em;
    background-size: cover;
    background-position: center;
    background-color: $light-green;

    &:not(:first-child) {
      margin-left: $block-spacing;
      background-color: $blue;

      @include media-query($medium-screen) {
        margin-left: 0;
      }
    }

    @include media-query($medium-screen) {
      width: initial;
        margin-bottom: $block-spacing;
    }
  }

  &_img {
    width: 100%;
    margin-bottom: -6px;
  }

  &_title {

  }
}
