.feature {
  width: 45%;
  padding-bottom: $spacing-unit * 1.5;
  @include media-query($medium-screen) {
    width: 100%;
    padding-bottom: $spacing-unit * 1.25;
    margin-bottom: $spacing-unit * .5;

    &:not(:last-child) {
      border-bottom: 1px dotted lighten($gray, 40%);
    }
  }

  &_posts_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media-query($medium-screen) {
      flex-direction: column;
    }
  }

  &_title {
    color: $charcoal;
    font-weight: lighter;
    font-family: 'Benton Regular';
  }

  .figure {
    padding-bottom: 0;
  }
}
