%grid-card {
  background-size: cover;
  background-position: center;
}

.grid {
  display: grid;
  grid-gap: $spacing-unit / 2;

  &_link {
    color: $black;

    &:hover {
      cursor: pointer;
      color: $blue;

      .grid_card_image,
      .grid_card_image_third {
        opacity: .7;
        transition: opacity .5s;
      }
    }
  }

  &_halves {
    display: grid;
    grid-gap: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    grid-template-columns: 1fr 1fr;
  }

  &_thirds {
    display: grid;
    grid-gap: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    grid-template-columns: 1fr 1fr 1fr;

    @include media-query($medium-screen) {
      grid-template-columns: 1fr;
    }
  }

  &_card {

    &_image {
      background-position: center;
      min-height: $spacing-unit * 6;
      background-size: cover;
      padding: .5em;

      &:hover {
        background-color: $charcoal;
      }

      @include media-query($medium-screen) {
        min-height: $spacing-unit * 6;
      }

      &_third {
        background-position: center;
        min-height: $spacing-unit * 6;
        background-size: cover;
        padding: .5em;
      }
    }
  }
}
