.project {

  &_section {
    padding-bottom: 3em;
  }

  &_card {
    padding-bottom: $spacing-unit;
    padding-top: $spacing-unit;
  
    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }

    &_last {
      border-bottom: none !important;
    }
  }

  &_highlight {
    padding-bottom: $spacing-unit;
    padding-top: $spacing-unit;
  
    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }
  }

  &_current {
    padding: $spacing-unit * .5;
    background: $light-gray;
  }

  &_title {
    font-family: "Benton Medium", sans-serif;
    color: $gray;
  }

  &_property {
    padding-top: 0.25em;
    font-family: "Benton Regular", sans-serif;
    font-weight: bold;
    font-size: 1.333em;
    color: $gray;
  }

  &_img {
    width: 100%;
    border: 2px solid $light-gray;
    margin-bottom: $spacing-unit * 0.5;
    transition: border 0.5s ease;

    &:hover {
      border: 2px solid $green;
      transition: border 0.5s ease;
    }
  }

  &_link {
    display: inline-block;
    border: 1px solid #44c3a6;
    background: #44c3a6;
    padding: .5em 1em;
    border-radius: 25px;
    color: $white;
    transition: all 0.5s ease;
    &:hover {
      background: $green;
      color: $white;
      transition: all 0.5s ease;
    }
  }

  &_note {
    color: $gray;
    font-size: 0.872em;
  }

  &_badges {
    display: flex;
    justify-content: space-between;
    @include media-query($small-screen) {
      flex-direction: column;
    }

    &_item {
      padding: $spacing-unit * .5 0;
      width: 32%;
      opacity: .6;
      transition: opacity 0.5s ease;
      @include media-query($small-screen) {
        width: 100%;
        margin-bottom: $spacing-unit;
        text-align: center;
      }

      &:hover {
        opacity: 1;
        transition: opacity 0.5s ease;
      }

      & img {
        width: 100%;
        max-width: 152px;
        
      }
    }
  }
}
