.site {
  display: grid;
  grid-template-columns: 1fr 20em;

  &_main {
    padding: $spacing-unit / 2;;
  }

  &_nav {
    padding: $spacing-unit / 2 $spacing-unit;
    border-left: 1px solid $light-gray;
  }

  &_title {
    margin-bottom: 0;
    font-size: 4.24em;
    font-family: 'Benton Regular';

    @include media-query($medium-screen) {
      font-size: 2.75em;
    }
  }

  &_intro {
    p {
      color: $ebony;
    }
  }

  &_subtitle {
    font-weight: lighter !important;
    font-family: 'Benton Light', sans-serif;

    @include media-query($medium-screen) {
      font-size: 1.962em;
    }
  }
}
