.contact_list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  background: $dark;

  &__item {
    display: inline-block;

    &:not(:last-child) {
      padding-right: $spacing-unit / 2;
    }
  }

  &__link {
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
  }
}
