.contact_list {
    list-style-type: none;
    padding-left: 0;

    &__item {
        display: inline-block;
        padding-right: $spacing-unit / 2;
    }

    &__link {
        &:hover {
            text-decoration: none;
        }
    }
}
