@mixin container {
  display: block;
  margin: 0 auto;
  padding: 0 1em;
}

.container {
  @include container;
  max-width: $large-screen;

  &_md {
    @include container;
    max-width: $medium-screen;
  }

  &_lg {
    @include container;
    max-width: $large-screen;
  }

  &_xl {
    @include container;
    max-width: 60em;
  }
}
