@mixin divider {
  border: 0;
  height: 0;
  margin: $spacing-unit / 2 0 $spacing-unit / 2 0;
}

.divider {
  @include divider;
  border-top: 2px solid $charcoal;
  width: $spacing-unit * 2;

  &_LIGHT {
    @include divider;
    border-top: 2px solid $charcoal;
    width: $spacing-unit * 1.5;
    margin: $spacing-unit 0 $spacing-unit  0;
  }

  &_WHITE {
    @include divider;
    border-top: 2px solid $white;
    width: $spacing-unit * 2;
  }
}
