.figure {
  margin: 0;
  padding-bottom: $spacing-unit / 2;

  &_image {
    width: 100%;
  }

  &_caption {
    font-size: small;
    color: $gray;
    font-style: italic;
  }

  &_link {
    font-family: 'Benton Light';
    &:hover {
      text-decoration: none;
      opacity: .7;
    }
  }
}
