.nav {
  &_list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;

    &_item {
      color: $secondary;
      margin-right: $spacing-unit / 2;
      padding: $spacing-unit / 2 0;
    }
  }
}
