.nav {
  &_list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;

    @include media-query($medium-screen) {
      flex-direction: column;
      display: none;
      padding-bottom: $spacing-unit / 2;
      border-bottom: 1px solid $blue;
    }

    &_item {
      color: $blue;
      margin-right: $spacing-unit / 2;
      padding: $spacing-unit / 2 0;
    }

    &_toggle {
      display: none;

      @include media-query($medium-screen) {
        display: block;
        padding: $spacing-unit / 2 0;
        background-color: $blue;
      }
    }
  }
}
