.post {
  &_title {
    color: $charcoal;
  }

  &_subtitle {
    color: $gray;
  }

  &_image {
    width: 100%;
    padding-bottom: $spacing-unit / 2;
  }

  &_meta {
    color: $green;
    font-size: small;
  }

  &_continue {
    display: inline-block;
    border: 1px solid $green;
    color: $green;
    font-size: small;
    padding: .5em 1em;
    border-radius: 25px;
      &:hover {
        background: $green;
        color: $white;
      }
  }
}
