.row {
  width: 100%;
  padding: $spacing-unit 0 $spacing-unit 0;

  &_lg {
    width: 100%;
    padding: $spacing-unit * 4 0 $spacing-unit * 4 0;

    @include media-query($medium-screen) {
      padding: $spacing-unit * 2 0;
    }
}


  &_md {
      width: 100%;
      padding: $spacing-unit * 2 0 $spacing-unit * 2 0;

      @include media-query($medium-screen) {
        padding: $spacing-unit 0 $spacing-unit 0;
      }
  }

  &_sm {
    width: 100%;
    padding: $spacing-unit 0;

    @include media-query($medium-screen) {
      padding: $spacing-unit 0 $spacing-unit 0;
    }
  }


  &_full {
      min-height: 58vh;
  }

  &_trim {
    width: 100%;
    padding: 0;
  }

  &_bottom_trim {
    padding-bottom: 0;
  }

  &_primary {
      background: $green;
      color: $white;
  }

  &_secondary {
      background: $light-gray;
  }
}
