<!doctype html>
<html class="no-js" lang="">
  {% include head.html %}
  <body>
    {% include components/nav.html %}
    {{content}}
    {% include components/footer.html %}
    <script>
      const navToggle = document.getElementById('nav_toggle');
      const nav = document.getElementById('nav_list');

      navToggle.addEventListener('click', function() {
        this.classList.toggle('is-active');
        nav.style.display = nav.style.display === 'block' ? '' : 'block';

      });


    </script>
  </body>
</html>
