<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include header.html %}
		<div class="page-content">
			<div class="animated--lag fadeIn" style="display:block;">
				{{ content }}
			</div>
		</div>
		
		{% if page.title == 'About'%}
		 	<script type="text/javascript">
		 		document.addEventListener('DOMContentLoaded', function() {
				var navTabs = document.getElementsByClassName('header-link');
					navTabs[0].classList.toggle('active-tab-blue');
				});
		 	</script>
		{% endif%}

		{% if page.title == 'Blog'%}
		 	<script type="text/javascript">
		 		document.addEventListener('DOMContentLoaded', function() {
				var navTabs = document.getElementsByClassName('header-link');
					navTabs[1].classList.toggle('active-tab-magenta');
				});
		 	</script>
		{% endif%}

		{% if page.title == 'Work'%}
		 	<script type="text/javascript">
		 		document.addEventListener('DOMContentLoaded', function() {
				var navTabs = document.getElementsByClassName('header-link');
					navTabs[2].classList.toggle('active-tab-grey');
				});
		 	</script>
		{% endif%}				

	 	</script>
	</body>
</html>