<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="sidebar">
            <div class="sidebar--side"></div>
            <div class="sidebar--content">
                {% include header.html %}
                <div class="layer--MEDIUM">
                    <div class="container--TIGHT">
                        {{ content }}
                        {% include contact.html %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
