---
layout: default
---
<div class="container_lg">
  <div class="row_md">
    <h2 class="page_title">{{page.title}}</h2>
    <h3>{{page.subtitle}}</h3>
    <p class="post_meta">{{ page.date | date: '%B %d, %Y' }}</p>
    <hr class="divider_CHARCOAL">
    {% if page.feature-image %}
    <figure class="figure">
      <img class="post_image" src="{{ page.feature-image }}" alt="{{ page.feature-image-alt }}">
      <figurecaption class="figure_caption">{{ page.feature-image-alt }}</figurecaption>
  </figure>
  {% endif %}
  {{content}}
</div>
</div>
