---
layout: default
---
<div class="container_lg">
  <div class="row_md">
    <h2 class="page_title">{{page.title}}</h2>
    <h3>{{page.subtitle}}</h3>
    <p class="post_meta">{{ page.date | date: '%B %d, %Y' }}</p>
    <hr class="divider_CHARCOAL">
    <figure class="figure">
      <a class="figure_link" href="{{ page.feature-image }}">
        <img class="post_image" src="{{ page.feature-image }}" alt="{{ page.feature-image-alt }}">
      <figurecaption class="figure_caption">A beautiful day at the Mayborn Museum</figurecaption>
    </a>
  </figure>
  {{content}}
</div>
</div>
