---
layout: default
---
<main>
  <div class="container_lg">
    <div class="row_trim">
      <h1 class="text_title">Chapter 4</h1>
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo eos ratione corporis, autem.</h4>
    </div>
    <div class="row_md">
      <div class="grid">
        <div class="grid_card">
          <a class="grid_link" href="/fam">
            <div class="grid_card_image" style="background-image: url('https://pbs.twimg.com/media/CVthDQTU4AAB7W1.jpg:large');"></div>
            <h3 class="grid_card_title">Fam</h3>
            <p class="grid_card_excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quasi commodi voluptatum harum nesciunt repudiandae, et, numquam, totam est, praesentium magnam quam libero pariatur sequi quis odio magni quidem dicta!</p>
          </div>
        </a>
      </div>
      <hr class="divider_center">
      <div class="grid_thirds">
        <div class="grid_card">
          <a class="grid_link" href="/dev">
            <div class="grid_card_image_third" style="background-image: url('https://pbs.twimg.com/media/B47XRYkCUAICBvS.jpg');"></div>
            <h4 class="grid_card_title">Dev</h4>
            <p class="grid_card_excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quasi commodi voluptatum harum nesciunt.</p>
          </a>
        </div>
        <div class="grid_card">
          <a class="grid_link" href="/growth">
            <div class="grid_card_image_third" style="background-image: url('https://pbs.twimg.com/media/CnkUAF5UMAA7VnB.jpg');"></div>
            <h4 class="grid_card_title">Growth</h4>
            <p class="grid_card_excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quasi commodi voluptatum harum nesciunt.</p>
          </a>
        </div>
        <div class="grid_card">
          <a class="grid_link" href="/maker">
            <div class="grid_card_image_third" style="background-image: url('https://pbs.twimg.com/media/DE_HkekVYAAUkn4.jpg');"></div>
            <h4 class="grid_card_title">Maker</h4>
            <p class="grid_card_excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quasi commodi voluptatum harum nesciunt.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
