---
layout: default
---
<main>
  <div class="container_lg">
    <div class="row_md">
      <div class="grid">
        <div class="grid_card">
          <a class="grid_link" href="/fam">
            <div class="grid_card_image" style="background-image: url('https://pbs.twimg.com/media/CVthDQTU4AAB7W1.jpg:large');">
            </div>
          </a>
        </div>
        <div class="grid_thirds">
          <div class="grid_card">
            <a class="grid_link" href="/dev">
              <div class="grid_card_image_third" style="background-image: url('https://pbs.twimg.com/media/B47XRYkCUAICBvS.jpg');">
              </div>
            </a>
          </div>
          <div class="grid_card">
            <a class="grid_link" href="/growth">
              <div class="grid_card_image_third" style="background-image: url('https://pbs.twimg.com/media/CnkUAF5UMAA7VnB.jpg');">
              </div>
            </a>
          </div>
          <div class="grid_card">
            <a class="grid_link" href="/maker">
              <div class="grid_card_image_third" style="background-image: url('https://pbs.twimg.com/media/DE_HkekVYAAUkn4.jpg');">
              </div>
            </a>
          </div>
        </div>
        <div class="grid_halves">
          <div class="grid_card">
            <a class="grid_link" href="/maker">
              <div class="grid_card_image_third" style="background-image: url('https://pbs.twimg.com/media/CrTpTdHUkAAxD_R.jpg');">
              </div>
            </a>
          </div>
          <div class="grid_card">
            <a class="grid_link" href="/maker">
              <div class="grid_card_image_third" style="background-image: url('https://pbs.twimg.com/media/C9qXAJ4UQAA6cxd.jpg');">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
