// Base variables
$base-font-family: 'Benton Light', sans-serif;
$base-font-size:   1em;
$base-font-weight: 700;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.45;

// Spacing
$spacing-unit: 2em;

// Colors

$light: #FEF2DA;
$light-green: #CCDAB9;
$green: #9DC3AA;
$blue: #318FD2;
$charcoal: #637079;

$black: #272727;
$white: #FDFDFD;
$gray: #8C9696;
$light-gray: lighten($charcoal, 35%);

// Width of the content area
$large-screen: 55em;
$medium-screen: 40em;
$small-screen: 30em;
